<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
<br>
<ul class="nav nav-tabs">
  <li role="presentation" class="{{getClassForTab(0)}}" ng-click="openTab(0)"><a href="">Редактирование товаров</a></li>
  <li role="presentation" class="{{getClassForTab(1)}}" ng-click="openTab(1)"><a href="">Редактирование поставщиков</a></li>
  <li role="presentation" class="{{getClassForTab(2)}}" ng-click="openTab(2)"><a href="">Редактирование заказов</a></li>
  <li role="presentation" class="{{getClassForTab(3)}}" ng-click="openTab(3)"><a href="">Редактирование подписок</a></li>
</ul>

<div ui-view></div>